.tab-base-item {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
    margin: 10px;
    padding: 10px;
    border-color: #444;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
}
.tab-base-item-act-block {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.tab-base-item-content {
    flex-grow: 1;
    vertical-align: top;
}
.tab-base-item-head {
    text-align: center;
    font-size: 1.3em;
}
.tab-base-item-image {
    display: block;
    flex-grow: 0;
    width: 170px;
    height: 170px;
    margin: 10px;
}
.tab-base-item-build {
    display: flex;
    align-self: stretch;
}
.tab-base-item-build-img {
    margin: 0 auto;
}
/* диалог строительства */
#tab-base-build-list {
    display: flex;
    flex-wrap: wrap;
}
.tab-base-build-item {
	width: 300px;
	border-style: solid;
    border-width: 1px;
    border-radius: 10px;
	padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
}
.tab-base-build-item-title {
    text-align: center;
}
.tab-base-build-button-wrap {
    display: flex;
}
.tab-base-build-button-wrap img {
    margin-right: 5px;
}
.tab-base-build-item-img {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 5px;
}
